Repository nimowagukari/frontend-tutorial, changes with the labels that .github/labeler.yml gives for each.
All labels: game: one-shot-gag, game: reversi, docs

yml ファイルを pre-commit チェック対象に追加
  lint-staged.config.js
Labels: none

微修正
  .devcontainer/devcontainer.json
Labels: none

微修正
  webpack.config.js
Labels: none

微修正
  .devcontainer/devcontainer.json
Labels: none

途中経過を一旦保存
  .devcontainer/devcontainer.json
  dist/reversi.html
  docs/reversi/plan.md
  src/css/reversi.scss
  src/js/modules/reversi.js
  src/js/reversi.js
Labels: game: reversi, docs

ポート転送する方式から、ポートをホストに公開する方式に変更
  .devcontainer/devcontainer.json
  webpack.config.js
Labels: none

微修正
  webpack.config.js
Labels: none

codewhisperer を追加
  .prettierignore
  .vscode/settings.json
Labels: none

リバーシを改修
  .devcontainer/devcontainer.json
  .vscode/settings.json
  dist/reversi.html
  docs/reversi/plan.md
  package-lock.json
  package.json
  src/css/reversi.scss
  src/js/modules/reversi.js
  src/js/reversi.js
Labels: game: reversi, docs

CI/CD を修正
  .github/workflows/production.yml
  .github/workflows/staging.yml
Labels: none

微修正
  .github/workflows/production.yml
  .github/workflows/staging.yml
Labels: none

終了判定の条件を修正
  .github/workflows/production.yml
  src/js/modules/reversi.js
Labels: game: reversi

微修正
  src/js/modules/reversi.js
Labels: game: reversi

微修正
  .github/workflows/staging.yml
Labels: none

.github/labeler.yml:

"game: one-shot-gag":
  - docs/one-shot-gag/*
  - dist/one-shot-gag.html
  - src/**/one-shot-gag.*
  - src/modules/judge.js*
"game: reversi":
  - docs/reversi/*
  - dist/reversi.html
  - src/**/reversi.*
docs:
  - docs/**
